.linha-form{
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type='text']{
    ;
}

select{
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}

.resumo-form{
    background-color: rgb(216, 219, 226);
}

form{
    background-color:rgb(169, 188, 208);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

body{
    background-color: rgb(88, 164, 176);
}

button{
    border-radius: 3px;
    padding: 5px;
    font-size: 14px
}