.login {
  display: flex;
  justify-content: center;
}

.container-login {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 15%;
  padding: 30px;
  border: 1px solid black;
}

.form {
  display: flex;
  flex-direction: column;
}

.container-buttons {
  display: flex;
  justify-content: space-around;
}

input {
  margin: 10px;
  font-size: large;
}